.header {
  display: flex;
  background-color: black;
  height: auto;
  display: grid;

  h1 {
    justify-self: center;
    color: white;
    font-size: xx-large;
  }

  nav {
    justify-self: center;
    align-items: center;

    .select {
      justify-self: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}