.main {

  display: grid;
  margin-top: 15px;
  padding-top: 15px;
} 

.form {
    justify-self: center;
  }

.methods {
  justify-self: center;
  align-content: center;

  li {
    justify-self: center;
    padding: 15px;
    background-color: deepskyblue;
    margin: 15px;
    display: inline;
    list-style: none;
    border-style: solid;
    border-color: red($color: #000000);

  }
  li:hover  {
    background-color: crimson;
  }
}
.urlSection {
  height: fit-content;
  width: 550px;
  padding: 10px;
  background-color: rgb(197, 232, 253);
  border-style: dotted;
  display: flex;
}

.displayBox {
  margin: auto;
  justify-self: center;
  height: fit-content;
  width: 550px;
  padding: 10px;
  background-color: rgb(197, 232, 253);
  border-style: dotted;
}

