

.main {
  width: 900px;
  display: grid;
  margin-top: 15px;
  padding-top: 15px;

  grid-template-columns: 0fr, 1fr, 3fr, 0fr;
} 

.form {
    justify-self: center;
  }

.methods {
  justify-self: center;
  align-content: center;

  li {
    justify-self: center;
    padding: 15px;
    background-color: deepskyblue;
    margin: 15px;
    display: inline;
    list-style: none;
    border-style: solid;
    border-color: red($color: #000000);

  }
  li:hover  {
    background-color: crimson;
  }
}
.urlSection {
  height: fit-content;
  width: 700px;
  background-color: rgb(197, 232, 253);
  border-style: dotted;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  pre {
    width: 100%;
    padding: 15px;
  }
}

.displayBox {
  margin: auto;
  margin-bottom: 10px;
  justify-self: center;
  height: fit-content;
  width: 900px;
  display: inline-flex;
}

.recentRequests {
  background-color: lightcyan;
  width: 200px;
  overflow: scroll;

  ul {
    padding: 0px;
    list-style: none;
    width: fit-content;
  }
}

