.main {

  display: grid;
  margin-top: 15px;
  padding-top: 15px;

  form {
    justify-self: center;
  }

} 

.methods {
  justify-items: center;
  align-content: center;
  display: inline;

  li {
    padding: 30px;
    display: inline;
    list-style: none;
  }
}
.urlSection {
  height: 300px;
  padding: 10px;
  background-color: rgb(197, 232, 253);
  border-style: dotted;
}
